# Notebook 5: Pandas

In this notebook, we will look at the package `pandas`. `pandas` is built on top of `numpy` (see Notebook 4 for more on `numpy`) and specializes in dealing with heterogenous and/or missing data stored in a labelled format. 

As this is an introductory course we will only give a brief introduction to `pandas` and a flavour of why it may be useful to you. For more information see the [`pandas` documentation here](https://pandas.pydata.org/pandas-docs/stable/).

The strength of `pandas` lies in it's ability to handle database and spreadsheet type operations that may be more familiar to users of languages such as `R` and `SQL`. 

 > **Note:** By convention, `pandas` is often aliased as `pd`.

In [ ]:
import pandas as pd
import numpy as np

### Table of Contents

 - [Notebook 0: Introduction](./nb_00_introduction.ipynb)
 - [Notebook 1: Datatypes, loops and logic](./nb_01_datatypes_loops_and_logic.ipynb)
 - [Notebook 2: Functions, modules and packages](./nb_02_functions_modules_and_packages.ipynb)
 - [Notebook 3: Managing files](./nb_03_managing_files.ipynb)
 - [Notebook 4: Numpy](./nb_04_numpy.ipynb)
 - [**Notebook 5: Pandas**](./nb_05_pandas.ipynb)
   - [Pandas datatypes](#Pandas-datatypes)
     - [Pandas Series](#Pandas-Series)
     - [Pandas Dataframes](#Pandas-Dataframes)
   - [Getting indices](#Getting-indices)
   - [Working with Pandas](#Working-with-Pandas)
     - [Boolean indexing](#Boolean-indexing)
     - [Querying](#Querying)
     - [Removing NaNs](#Removing-NaNs)
     - [Sorting data](#Sorting-data)
     - [Summarizing by column](#Summarizing-by-column)
     - [Summarizing by groupings](#Summarizing-by-groupings)
     - [Reshaping](#Reshaping)
   - [Reading/Writing files](#Reading/Writing-files)
   - [Using pandas](#Using-pandas)
   - [Exercises](#Exercises) (Recommended)

## Pandas datatypes

The world of `pandas` revolves predominantly around the `Series` and `DataFrame` datatypes. We shall look at each one of these in turn now.

### Pandas `Series`

A `pandas` `Series` object is an indexed one-dimensional array of data.`

In [ ]:
example_series = pd.Series([2.1,3.9,4.2])
print(example_series)

The values in a `pandas` `Series` can be converted to a `numpy` `array` using the `values` attribute like so:

In [ ]:
print(example_series.values)

The elements of a `Series` can also be accessed using square brackets in the same way elements in a one-dimensional `numpy` array are accessed. For example;

In [ ]:
print(example_series[0])
print(example_series[0:2])
print(example_series[example_series>3])

One of the key features of a `Series` object is that you can also change how data is indexed. For example, when creating a `Series` alternate indices can be specified using the `index` argument like so:

In [ ]:
example_series = pd.Series([2.1,3.9,4.2],
                           index=['a', 'b', 'c'])

The indices specified above can now be used to access the data, much like using keys to access a Python `dict`, i.e. using square brackets.

In [ ]:
print(example_series['b'])

It is worth noting that numerical indices can still be used like so:

In [ ]:
print(example_series[2])

In fact, `numpy` style array indexing syntax can be used on custom indices. For example, the colon operator, `:`, can still be used for indexing, but on non-numerical indices, like so:

In [ ]:
print(example_series['a':'b'])

 > **Note**: This indexing, unlike `numpy`, is inclusive. For example, `'a':'b'` includes element `'b'`, unlike in `numpy` where `0:2` does not include element `2`.
 
 > **Note:** If a number is used as a custom index for a column; the custom indices take precedence over the inbuilt `numpy` like indexing. For example:

In [ ]:
# We have tried to label the first element in the Series as 2
example_series = pd.Series([2.1,3.9,4.2],
                           index=[2, 'b', 'c'])

# Lets see whether we get the first element like we specified
# or if we get the 3rd element like in normal python zero indexing
print(example_series[2])
# Spoiler Alert: We got the first element!

A `pandas` `Series` can also be constructed from a `dict`. When a `Series` is constructed using a `dict`, the keys in the `dict` become the indices of the `Series` and the values in the `dict` become the values in the `Series`. For example;

In [ ]:
# A simple dict with 3 key-value pairs
example_dict = {'a': 1, 'b': 33, 'c': 2}
print(example_dict)

# Converted to a series
example_series = pd.Series(example_dict)
print(example_series)

Elements in the `Series` can now be accessed using the corresponding keys from the `dict` like so:

In [ ]:
print(example_dict['b'])
print(example_dict['c'])

 > **Note:** You can also use the `index` argument when constructing a `Series` from a `dict`. However, only values with indices included **both** as keys in the `dict` and elements in `index` argument will be kept. This may seem clearer with an example:

In [ ]:
# We have specified 3 indices, 'a', 'b' and 'c'
example_dict = {'a': 1, 'b': 33, 'c': 2}

print(example_dict)

# Now, we choose to use only 'a' and 'c' so only 'a' and 'c'
# will be in the Series object
print(pd.Series(example_dict, index=['a','c']))

## Pandas `Dataframes`

A `pandas` `DataFrame` object can be thought of as a collection of aligned `pandas` `Series` objects, where by aligned we mean sharing the same index. A `DataFrame` can be constructed from several `Series` using the `pandas.DataFrame` function. For example:

In [ ]:
# Series of heights in inches
heights = pd.Series({'Pete': 69, 'Mo': 72, 'Katy': 64, 'Alex': 80})
# Series of weights in kg
weights = pd.Series({'Pete': 60, 'Mo': 80, 'Jay': 55, 'Claire': 70})

example_dataframe = pd.DataFrame({'heights': heights, 'weights': weights})

# In this notebook we can display a pandas dataframe in a
# nice format without printing just by typing the dataframes
# name.
example_dataframe

 > **Note:** The `Series` objects used to create a `DataFrame` do not have to contain the same indices as one another to be combined to make a `DataFrame`. In the above example `Claire` appeared in the `weights` series but not the `heights` series. One of the great features of `Pandas` is that it will automatically fill any missing values in with an `NaN` (such as Claire's height in this example). 

A `DataFrame` can also be constructed from a `dict` of `dict`s like so:

In [ ]:
# Series of heights in inches
heights = {'Pete': 69, 'Mo': 72, 'Katy': 64, 'Alex': 80}
# Series of weights in kg
weights = {'Pete': 60, 'Mo': 80, 'Jay': 55, 'Claire': 70}

example_dataframe = pd.DataFrame({'heights': heights, 'weights': weights})

example_dataframe

Finally, a `DataFrame` can also be constructed from a `numpy` array like so;

In [ ]:
example_dataframe = pd.DataFrame(
    np.array([[62,66,75],[63,65,71]]))

example_dataframe

Rows and columns can be lablled with the `index` and `columns` arguments respectively:

In [ ]:
example_dataframe = pd.DataFrame(
    np.array([[62,66,75],[63,65,71]]),
    columns=['heights', 'weights', 'favourite number'],
    index=['Joe', 'Catelyn'])

example_dataframe

## Getting indices

The indices can be retrieved from a `Series` or `DataFrame` using the `index` attribute. This can be done like so;

In [ ]:
print(example_series.index)
print(example_dataframe.index)

The column headers from a `DataFrame` can also be retrieved using the `columns` attribute.

In [ ]:
print(example_dataframe.columns)

## Working with Pandas

The `pandas` datatypes are incredibly useful and efficient when dealing with heterogeneous data. In this section we will give a, by no means comprehenive, selection of useful functions that `pandas` offers. We will use the below `DataFrame` in the following examples.

In [ ]:
example_dataset = pd.read_csv('05_pandas/toydataset.csv')

# Show our dataset
example_dataset

### Boolean indexing

Boolean indexing can be used to return subsets of a `DataFrame`. What is particularly nice about this is that in `Pandas` boolean logic is much easier to interpret, due to the use of column names. For example, hopefully, the below line of code should be fairly intuitive;

In [ ]:
example_dataset[(example_dataset['sex']=='M') & 
                (example_dataset['birth_year']>1987)]

 > **Note:** When using multiple boolean statements always use `()` brackets to make your logic clearer and less susceptible to coding errors.

This above is useful but the notation is a bit clunky - we had to type `example_dataset` three times to do this operation. We can do this in a much cleaner fashion using the `query` function.

### Querying

We can perform the same operation as in the above section with much cleaner syntax using the `query` function like so:

In [ ]:
example_dataset.query('(sex == "M") & (birth_year > 1987)')

 > **Warning:** The `query` function may have problems with column names which can't be used as python identifiers (for example column names including a space). This is a common cause of `SyntaxError`'s for users new to `Pandas`.

### Removing `NaN`s

When selecting data it may be desirable to first remove `NaN` values/missing data which could interfere with future operations. Rows with `NaN` values in a specified column can be found and removed using the `isna` function like so:

In [ ]:
# Remove all subjects for whom we didn't record sex
example_dataset[~example_dataset.sex.isna()]

There is actually a method that does this in a much neater fashion; the `dropna` method.

In [ ]:
# Remove all subjects with missing sex and birthyear information
example_dataset.dropna(subset=['birth_year', 'sex'])

###  Sorting data

One operation which you may want to do when first looking at data is sort it by a variable of interest. Sorting can be done in `pandas` using the `sort_values` method. For example;

In [ ]:
sorted_example = example_dataset.sort_values('birth_year')
sorted_example

To obtain a row of the new sorted DataFrame, the `iloc` function can be used to index it like so:

In [ ]:
sorted_example.iloc[0]

 > **Note:** We can still select the index `0` of the DataFrame under it's **original ordering** using `loc`. Be careful doing this, however, as it can be very easy to confuse the `loc` and `iloc` methods.

In [ ]:
sorted_example.loc[0]

### Summarizing by column

Another great strength of the `pandas` package is that, much like `numpy`, it contains several methods for getting summary measures of columns of data. For example:

In [ ]:
# Mean
example_dataset.mean()

In [ ]:
# Standard deviation
example_dataset.std()

In [ ]:
# Count number of non-missing/non-NaN values
example_dataset.count()

One function which is useful as a sanity check whenever you are working in `pandas` is the `describe` method, which gives several common summary statistics of the data.

In [ ]:
example_dataset.describe()

# (The percentages in this table are quantiles)

We can also use our own custom functions to apply to the columns of a `DataFrame` using the `apply` method. For example:

In [ ]:
# Function to make a T statistic for the t-test that
# the mean=1984.5
#
# i.e. T = (mean-1985)/(std/sqrt(n))
def tstat(series):
    
    # Get T statistic
    tStat = (series.mean()-1984.5)/(series.std()/np.sqrt(series.count()))
    
    return(tStat)

# Return the T statistics... all but birth year should have large 
# T statistic values as only the birth years had mean 1984.5
example_dataset.select_dtypes(np.number).apply(tstat)

 > **Warning:** When applying custom functions to a `DataFrame` you must ensure you specify which datatypes you want to apply your function to. In the above we used the `select_dtypes` argument to specify that we wanted to apply our function to any column containing entries that are `np.number` objects (i.e. `np.int64`, `np.float32`, etc...).

The `apply` method actually allows us to apply several functions at once. For example:

In [ ]:
example_dataset.select_dtypes(np.number).apply([tstat, 
                                                'mean', 
                                                np.prod])

### Summarizing by groupings

One extremely useful tool is the `groupby` tool which groups the data based on categorical variables of the users choosing. This returns an object, can be iterated through like so:

In [ ]:
for sex, table_for_category in example_dataset.groupby('sex'):
    
    print(f'Mean age for sex {sex}: {table_for_category.birth_year.mean()}')

A more common application of the `groupby` method, however, is combining it with the `apply` function to get summary measures for groups. This is an extremely powerful functionality. For example;

In [ ]:
example_dataset.groupby('group').mean()

It is also possible to group by the intersection of multiple categories like so:

In [ ]:
example_dataset.groupby(['sex','group']).mean()

 > **Note:** If one of the entries in the above is `NaN` then there were no subjects of that sex in that group.

It is even possible to do multiple groupings and multiple summary statistics at the same time!

In [ ]:
# Get the mean and median for each (sex, group) combination 
example_dataset.groupby(['sex','group']).aggregate((np.median, np.mean))

It might also be useful stratify based on a continuous variable. This can be done easily using the `cut` function like so:

In [ ]:
# Split the years into groups and take their means
example_dataset.groupby(
    pd.cut(example_dataset.birth_year, 
           bins=(1979, 1983, 1986, 1990))).mean()

### Reshaping

Suppose we were interested in the mean `eyelash_length` of every `group` for each `birth_year`. We could do the following;

In [ ]:
example_dataset.groupby(['birth_year','group']).eyelash_length.mean()

However, there are 10 `birth_year`s and 5 `group`s. This means there are potentially up to 50 lines in the above table. In this example, we probably wouldn't worry too much but on real data this could result in us getting very large tables very quickly!

One way around this is to use the `unstack` method, which moves one of the groupings in the rows into the columns like so:

In [ ]:
example_dataset.groupby(
                ['birth_year','group']
            ).eyelash_length.mean().unstack('group')

This shorter table is often referred to as "wide form" whilst the taller is referred to as "long form". 

There are many reasons you may want to work with both forms of data. For example, it often more convenient to group data using long form tables but often easier to generate plots with wide form tables. Often, the choice of format is also a question of personal preference.

You can convert wide form back to long form using the `stack` method like so:

In [ ]:
# Unstack the dataframe
unstacked = example_dataset.groupby(
                ['birth_year','group']
            ).eyelash_length.mean().unstack('group')

# Stack the dataframe
stacked = unstacked.stack('group')

stacked

An alternative to the `groupby`, `stack` and `unstack` approach is to use the functions `pivot_table` and `melt`.

`pivot_table` is particularly useful as, not only does it unstack the table, but it also handles grouping at the same time. For example, we could perform the same unstacking operation we did earlier with `groupby` and `unstack` using `pivot_table` like so:

In [ ]:
unstacked = example_dataset.pivot_table('eyelash_length', 
                                      'birth_year', 
                                      'group')
unstacked

We can unstack the table we just made with the `melt` method. This is a little more fiddly, however, as in the previous example, using `pivot_table` changed the `birth_year` variable from a column in the table to the row index.

In [ ]:
# Change `birth_year` back to a column
unstacked['birth_year'] = unstacked.index

# Unstack our table
stacked = pd.melt(unstacked, id_vars=['birth_year'], value_vars=['a','b','c','d','e'],
         var_name='group', value_name='eyelash_length')

# Our table will not be in the original order but we can sort that
# After sorting the indices will be out of order so we reset those.
stacked.sort_values(['birth_year', 'group']).reset_index()

 > **Note:** Our table is now longer. This is because we have included `NaN`/missing values we didn't include in our original table. We could remove these easily though, for example, with the `dropna` method.

In [ ]:
stacked.dropna()

### Reading/Writing files

One final footnote on `pandas` is that it is extremely fast at reading and writing files.

`pandas` provides a wide range of tools for loading from text files, binary files, and SQL databases. The most commonly used function for this purpose is the `pandas.read_{format}` function. For example, to read `csv` files we can do:

In [ ]:
dataframe_from_csv = pd.read_csv('05_pandas/example_data.csv')

We can also write to a csv using the `pandas.to_csv`  like so:

In [ ]:
X = pd.DataFrame(np.random.randn(1000,1000))

X.to_csv('05_pandas/example_data_we_made.csv')

This is one of the fastest file reading tools in Python and worth knowing about! For example, compare the time `pandas` took to read the example `csv` to the time `numpy` takes.

In [ ]:
import time

# Let's time pandas
t1 = time.time()
array_from_csv = pd.read_csv('05_pandas/example_data.csv').values
t2 = time.time()
print('pandas took ', t2-t1, ' seconds to read the csv file.')

# Now time numpy
t1 = time.time()
array_from_csv = np.loadtxt('05_pandas/example_data.csv', delimiter=',')
t2 = time.time()
print('numpy took ', t2-t1, ' seconds to read the csv file.')

## Using `pandas`

`pandas` is an extremely powerful tool. We have barely scratched the surface on it's capabilities here. To learn more, please see the official [`pandas` documentation here](https://pandas.pydata.org/).

# Exercises

**Question 1:** Read in the file `exercise_dataset.csv` as a pandas DataFrame. We are not interested in the `subject_id` and `age` variables so remove these from the DataFrame. *Hint: The [`drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) function may be useful for this*.

In [ ]:
# Write your answer here

**Question 2:** After collecting this data, you have found out that some, an extremely small minority in fact, of the subjects thought it would be funny to deliberately fill out the `favourite_animal` field in your survey with an object that is not an animal! Fearing these subjects may have filled out other values incorrectly, you wish to remove them from the DataFrame immediately.

Investigate the `.value_counts()` function in the [`Pandas` documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html). What does this function do? Use the function to find the rows of the DataFrame with non-animal responses in the `favourite_animal` column and remove the rows from the DataFrame.

In [ ]:
# Write your answer here

In [10]:
import pandas as pd
df = pd.read_csv('05_pandas/exercise_dataset.csv')
print(type(df['favourite_animal']))
df['favourite_animal'].value_counts()

<class 'pandas.core.series.Series'>

dog                               570
Goldfish                          535
Shark                             530
cat                               527
hedgehog                          450
zebra                             300
giraffe                           277
bat                               223
shrimp                            200
rhino                             188
Fossa                             154
Mexican Mole Lizard               125
Giant Otter                       114
Eastern Long-necked turtle        107
Atretochoana                      103
Kakapo                             97
Clawed Frog                        66
Lammergeier                        60
Chinese Giant Salamander           55
Hoatzin                            49
Long-wattled umbrella bird         48
Spike nosed tree frog              48
Hickory Horned devil               46
Predatory Hawaiian Caterpillar     43
turnip                             24
Name: favourite_animal, dtype: int64

**Question 3:** Your research is interested in the relationship between the size of the big toe on the left foot of each subject (`size_of_left_toe`) and the subjects heartrates (`heartrate`). Because of this, you have decided that you don't want to include any subjects which have any `NaN` values in either the `size_of_left_toe` or `heartrate` columns.

Remove all rows of the DataFrame which include `NaN` values in either the `size_of_left_toe` or `heartrate` columns.

In [ ]:
# Write your answer here

**Question 4:** Write a function which takes in a numpy array and a percentage $k$ and returns the k% quantile of the array. Now apply it to the columns of your DataFrame to get the 5% and 95% quantiles of each column. Check your results against the inbuilt pandas `quantile` function. *Note: You do not have to worry about interpolating values and you can use the `numpy sort` attribute for this question. However, **no other numpy functions** should be used!*


Use boolean indexing, and either your own function or the `quantile` function, to return a DataFrame containing only the subjects who were in the top 5\% quantile for `heartrate` and the bottom 5\% quantile for `size_of_left_toe`.

In [ ]:
# Write your answer here

**Question 5:** The range of the `age` column in the DataFrame is from 10 to 59 years old. Perform the following operations on the DataFrame;

 - Use the `cut` function to seperate subjects into 5 age groups, each of ten years in length. 
 

 - For each age range, obtain the mean `size_of_left_toe` and mean `heartrate` for male (`M`) subject and female (`F`) subjects seperately. Save a Dataframe containing these values as `mean_age_sex`. *Hint: Consider using the `groupby` function.*
 

 - For each age range, obtain the mean `size_of_left_toe` and mean `heartrate` for each of the groups listed in the `group` column (i.e. `a`, `b`, `c`, `d` and `e`). Save this in your workspace as `mean_age_group`. 
 

 - Stack `mean_age_sex` and `mean_age_group` on top of one another using the [`concat` function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html). 
 

In practice, this is probably not a good way to lay out this data. List some reasons why you may not wish to lay out the data in this way.

In [ ]:
# Write your answer here...