# Notebook 1: Basic data types, Looping and Logic

This notebook introduces some of the basic language features which are built-in in python. If you have previous experience with python much of this may be familiar to you already. However, we strongly recommend you read the section **Important: Copying and References** and attempt all exercises at the end of the notebook.

### Table of Contents

 - [Notebook 0: Introduction](./nb_00_introduction.ipynb)
 - [**Notebook 1: Datatypes, loops and logic**](./nb_01_datatypes_loops_and_logic.ipynb)
   - [Basic Data Types](#Basic-Data-Types)
     - [Integers and floats](#Integers-and-floats)
     - [Strings](#Strings)
     - [Booleans](#Booleans)
     - [Tuples and lists](#Tuples-and-lists)
     - [Sets and Dictionarys](#Sets-and-Dictionarys)
   - [IMPORTANT: Copying and References](#IMPORTANT:-Copying-and-References) (Recommended)
   - [If statements](#If-statements)
   - [For loops](#For-loops)
   - [While loops](#While-loops)
   - [continue, break and pass statements](#continue,-break-and-pass-statements)
   - [Conditional Expressions](#Conditional-Expressions)
   - [List comprehensions](#List-comprehensions)
   - [Exceptions](#Exceptions)
   - [Getting help](#Getting-help)
   - [Exercises](#Exercises) (Recommended)

 - [Notebook 2: Functions, modules and packages](./nb_02_functions_modules_and_packages.ipynb)
 - [Notebook 3: Managing files](./nb_03_managing_files.ipynb)
 - [Notebook 4: Numpy](./nb_04_numpy.ipynb)
 - [Notebook 5: Pandas](./nb_05_pandas.ipynb)
 - [Notebook 6: Scipy](./nb_06_scipy.ipynb)
 - [Notebook 7: Plotting and images](./nb_07_plotting_and_images.ipynb)

## Basic Data Types

In Python there are many different data types with some of the most commonly used built-in data types being:

 - integer and floating point scalars
 - boolean values
 - strings
 - tuples
 - lists
 - sets
 - dictionaries


 > **Note:** This list is by no means comprehensive. Other data types are also supported through common packages (e.g., `numpy`, `scipy`, `...`) and it is even possible to make your own custom datatypes! For now we will just focus on the built-in datatypes. However, packages such as `numpy` and `pandas` will be explored in later notebooks.

The "type" of a variable can be found using the `type()` function in python. Try changing and running the below code to see how this function is used.

In [ ]:
a = 1
b = 1.1e-6
c = True
d = 'word'
e = (2,3)
f = [1, 2, 3]
g = {'key1' : '9', 'key2': 20}

type(a)

 > **Note:** Python allows for scientific notation for floats (see for example `b` in the above; `1.1e-6` means `1.1` times `10` to the minus `6`).

Values of variables can also be displayed with the `print()` function. If given many arguments, the print statement will print all of them. Try this below:

In [ ]:
a = 0.01
b = 'strrring'
c = [1,2,3]

print(a)
print(a,b,c)
print(a,c)

Unlike in other languages, such as Java, in Python the data type of a variable is dynamic. This means that you do not need to specify the data type beforehand and it can easily be changed. For example, try moving the type statement before and after the sum in the below block and see how the output is changed. Why does the output change?

In [ ]:
a = 1
b = 1.1

print(type(a))

a = a+b

Several inbuilt functions are available for converting between types. The most commonly used of these are the `int`, `float` and `str` functions. Try these out below. **Caution**: Note how converting `z` back to a float does not give the original value `x`. Why do you think this is?

In [ ]:
x = 1.1
y = str(x)
z = int(x)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

print(x - float(z))

## Integers and floats

When first getting to grips with python, you can think of integers as "whole numbers" and floats as "numbers including decimals". Integers are represented with the `int` datatype and floats are represented with the `float` datatype. Basic mathematical operations are available for `int` types and `float` types. Try a few below:

 > **Warning:** A common mistake made by new users of Python is to use `^` for exponentiation. In fact, in Python `^` represents the logical `XOR` operator and the `**` operator represents exponentiation.

In [ ]:
a = 3
b = 2

# Addition
print(a+b)

# Subtraction
print(a-b)

# Multiplication
print(a*b)

# Exponentiation
print(a**b)

# NOT EXPONENTIATION - ACTUALLY XOR
print(a^b)

# Division
print(a/b)

# Integer division (i.e. division with rounding down)
print(a//b)

# Modulo
print(a % b)

Often, you may hear it mentioned that Python allows for "arbitrary precision" integers. This means that Python can accurately manipulate very large numbers stored as `int`s. For example;

In [ ]:
a = 174129409583938905209834890385935802
b = 417873297348327895798237589723987598

# Both a and b are ints
print(type(a))
print(type(b))

# You can check for yourself that this is correct!
print(a+b)

 > **Warning:** Although `int`s can store arbitrary precision whole numbers in Python, `float`s cannot!! Failure to realize this can result in all sorts of strange errors. For example, consider the below;

In [ ]:
# Very big float
a = 1e30

# Lets have a look at `a`
print(a)
print(type(a))

# Now let's round `a` to the nearest whole number... this shouldn't change `a`... right?
b = round(a)

# Wrong... try repeating the above but with `a` as an integer (i.e. change the first line to `a=1000...00`)
print(b)
print(type(b))

## Strings

In this section we are going to look more at strings. 

A string is a finite sequence of characters (e.g., letters, numbers, symbols and punctuation marks). In python strings can be specified with either double of single quotes like so:

In [ ]:
string1 = 'This is a string'
string2 = "This is also a string"
string3 = ""
string4 = 'string3 is also a string!'

print(string1)
print(string2)
print(string3)
print(string4)

An important characteristic of each string is its length, which is the number of characters in it. The length can be any natural number (i.e., zero or any positive integer). In python we can see the length of a string by using the `len()` function. In fact, this function can be used to assess the length of many different variable types such as lists, tuples, sets and so on (more on those later).

In [ ]:
string1 = 'loooooong string'
string2 = 'shor'
string3 = ''


print(len(string1))
print(len(string2))
print(len(string3))

 > **Brief interlude:** In python it is possible to comment your code using the `#` symbol. It is always good practice to comment your code as you write it so others may be able to tell what your code is doing. Below is a small demonstration showing how you can comment code. Make sure you a familiar with this as commenting is an extremely important and crucial practice for any work which involves coding!

In [ ]:
# The below line prints a string, this line is a comment
print('This statement is printed') # This is another comment

# The below line is not a comment as the # is contained within quotes
text = "# This is not a comment because it's inside quotes."
print(text)

### String manipulation

Python has many useful tools for manipulating strings. One such function is the `format` function, which allows you to insert variables of different types into strings. Note that `x` in the below example does not need to be a string.

In [ ]:
x = 8
y = 'John'
s = "{} is {} feet tall".format(y, x)
print(s)

Another useful tool is the concatenation operater; `+`. Concatenation in programming is another way for saying "join together". See the below for an example of how this is done.

In [ ]:
a = 'string1'
b = 'string2'
c = a + ' ' + b

print(c)

In fact, the previous example could be done using concatenation instead of the `format` funtion. Note though that we must be careful and convert `x` from an integer to a string, using `str()`, in this case.

In [ ]:
x = 8
y = 'John'

print(y + ' is ' + str(x) + ' feet tall')

Other useful functions for string manipulation include

 - `strip`; which, by default, removes any white space from the beginning and end of a string. However, you can also specify which characters you wish to remove.
 
 - `split`; splits a string by specified character (known as a seperator), and returns a list. By default, the separator is a space and this function splits a sentence into individual words.
 
 - `replace`; this returns a string with some specified value replaced with another specified value.
 
 - `upper`; this makes a string all uppercase.
 
 - `lower`; this makes a string all lowercase.
 
Several examples are given below. Please make sure you understand what each of these functions does before moving on to the next section. There are many other functions available and a good resource for learning about each individual function and trying them for yourself is the [w3 schools python reference site](https://www.w3schools.com/python/python_ref_string.asp).

In [ ]:
# Demonstration of the strip function
print("Demonstration of strip function\n")


x = '    this is a string     '
print(x)
print(x.strip())
y = '...another string...'
print(y)
print(y.strip('.'))

# -------------------------------------------------------------------
# Demonstration of the split function
print("\nDemonstration of split function\n")


x = 'This is a string'
print(x)
print(x.split())
print(x.split('i'))

# -------------------------------------------------------------------
# Demonstration of the replace function
print("\nDemonstration of replace function\n")

x = 'I am not sure that I understand how the replace function works'
print(x)
y = x.replace('am not sure', 'am totally sure')
print(y)
z = y.replace('sure', 'sure, 100% sure in fact thanks to this (rather well put together) notebook,')
print(z)

# -------------------------------------------------------------------
# Demonstration of the upper and lower functions
print("\nDemonstration of upper and lower functions\n")

x = 'RaNDom CAseS'
print(x)
print(x.lower())
print(x.upper())

## Booleans


A boolean in python is a variable that can be either `True` or `False`. Other representations can also be used for True or False; for example, `1` is also used for `True` and `0`  is also used for `False`. Empty object are also treated as `False` in several situations (e.g. `None` or `[]` or `{}` or `""`), however these are not considered 'equal' in the sense that the equals operator (`==`) would consider them the same.

Boolean and comparison operators include: 

 - `not`: This negates the value of a variable.
 - `and`: This is a logical `and`.
 - `or`: This is a logical `or`.
 - `is`: This checks whether two variables point to the same object in memory.
 - `==`: This checks whether two variables are equal in value (Note: This shouldn't be confused for the assigment operator; `=`).
 - `!=`: This checks whether two variables are not equal in value.
 
Boolean operators in Python are designed to be intuitive and as close to natural language as possible. The below code demonstrates how the boolean operations `and`, `or`, `==` and `!=` and `not` are used. Try changing the values of `a` and `b` to ensure you understand how these operations work.

In [ ]:
a = True
b = False

print("not a: ", not a)
print("a and b: ", a and b)
print("a or b: ", a or b)
print("a==b: ", a==b)
print("a!=b: ", a!=b)

# Note: both c and b are treated as False, but they are not equal, see below;
c = {}
print("not c: ", not c)
print("not b: ", not b)
print("b==c: ", b==c)

The `is` operator and `==` operator are often confused with one another but they are not same. The `is` checks if both the variables point to the same object in memory whereas the `==` sign checks if the values of the two variables are equal. 

If the `is` operator returns `True` then the equality is definitely `True`, but the opposite may or may not be the case. For an example see the below.

 > **Warning:** Avoid using the `is` operator for "immutable" types such as strings and numbers; the result is unpredictable and in most cases the `==` is more appropriate for purpose. See the **Important: Copying and References** section for more information and a definition of "immutable".

In [ ]:
# a and b are set to both represent the same object in memory.
a = b = [1,2,3]

# c represents a list in a different location in memory but with the same
# value as a and b
c = [1,2,3]
print(a)
print(b)
print(c)

# a, b and c are all equal
print('a == b: ', a == b)
print('a == c: ', a == c)

# But only a and b point to the same location in memory
print('a is b: ', a is b)
print('a is c: ', a is c)

 > **Warning:** In most scenarios, as you may expect, a boolean expression of the form `a != b` gives the same as `a == (not b)` but be careful as this may not be true for empty variables. For example;

In [ ]:
a = True
b = False

# These will give the same as a and b are not empty
print("a!=b: ", a!=b)
print("a==(not b)", a==(not b))

# This will give different values as c is empty
c = {}
print("c!=b: ", c!=b)
print("c==(not b): ", c==(not b))

Other common relational expressions which give `True/False` output include `<=`, `>=`, `<` and `>` for numeric datatypes and `in` for collection datatypes (such as `list`s or `tuple`s, which we shall look at next).

In [ ]:
a = 1
b = 1.1

print("a>b:    ", a>b)
print("a<b:    ", a<b)
print("a>=b:   ", a>=b)
print("a<=b:   ", a<=b)

c = "Some string"
d = "om"
print("c in d: ", c in d)
print("d in c: ", d in c)

e = 1
f = 0.1
g = [1,2,3]
print("e in g: ", e in g)
print("f in g: ", f in g)

## Tuples and lists

In this section we are going to look more at Tuples and Lists.

 - A tuple is a collection which is ordered and ***unchangeable***. In Python tuples are written with ***round brackets***.

 - A list is a collection which is ordered and ***changeable***. In Python lists are written with ***square brackets***. 

Both tuples and lists are built-in data types, can hold elements of arbitrary datatypes and behave, in many respects, like mathematical vectors. However, for numerical vectors and arrays it is much better to use numpy arrays, which are covered in notebook 4.

Below are some examples of lists and tuples. Note again that lists and tuples can contain data of any type.

In [ ]:
# Example tuple
example_tuple = ('random string', 8, True)
print(example_tuple)

# Example list
example_list = [10, 'str', False]
print(example_list)

This means they can also be nested. I.e. we can put a list in a list, a tuple in a tuple, a list in a tuple and a tuple in a list!

In [ ]:
TupleAndListInTuple = (example_tuple, example_list)
TupleAndListInList = [example_tuple, example_list]
print(TupleAndListInTuple)
print(TupleAndListInList)

### Adding to Lists and Tuples

Lists and tuples can be added to using the concatenation operator, `+`, like so:

In [ ]:
example_list = [1, 2, 3]
example_list = example_list + [4]
example_list +=  [5]
print(example_list)

example_tuple = (1, 2, 3)
example_tuple = example_tuple + (4,)
example_tuple +=  (5,)
print(example_tuple)

### Indexing Lists and Tuples

To index in python, square brackets are used. This is a common convention which applies to almost all vector-like datatypes in Python, e.g. tuples, lists, strings, numpy arrays, etc.

Python uses zero indexing, which means that the first element in a list of length `n` is indexed as `0` and the last element is indexed as `n-1`. For example see the below (note that the same can also be done for tuples):

In [ ]:
example_list = [2,'str',4,9,0]

# Work out the length of the list
n = len(example_list)

print(example_list[0])
print(example_list[n-1])
print(example_list[3])
#print(example_list[n]) # This line will fail as the highest index for a python list is n-1

Negative numbers can also be used to index lists (and other similar datatypes). For example, the index `-1` will give the last element of the list, the index `-2` will give the second to last element of the list and so on. This is known as circular wrap-around.

For a list of length `n` any index can be used between `-n` and `(n-1)` (inclusive) to access elements in the list. Indices outside of this range, however, will give an "`index out of range`" error.

In [ ]:
# Examples of circular wrap-around
print(example_list)
print(example_list[-2])
print(example_list[-4])
print(example_list[-n])

# Examples of indices which will fail/give errors
#print(example_list[n])
#print(example_list[-n-1])
#print(example_list[20*n + 2]) 
#print(example_list[-20*n - 2])

Note that nested lists and tuples support nested indexing but this involve multiple sets of square brackets (for example see below).

You may be more familiar with indexing of the form `example_list[a,b]` (i.e. only one set of square brackets); this syntax does exist in Python but unfortunately not for lists. In fact, this syntax is used heavily by numpy arrays (which we will cover in notebook 4).

In [ ]:
exampleNested = [('str', 20, 'str2'), [False, 8, 9.5]]
print(exampleNested[0][1])
print(exampleNested[1][0])
print(exampleNested[1][-1])

### Slicing Tuples and Lists

A range of index values can be specified to extract values from a list using a colon, `:`. This is done in a very similar manor to languages such as Matlab and C. For example:

In [ ]:
example_list = [1,2,3,4,5]
print(example_list[0:3])

> **Warning:** Often, in other languages such as `Matlab` the syntax `0:3` represents the range `[0,1,2,3]`; however, in python `0:3` represents only `[0,1,2]`. In other words the syntax `k:n` includes `[k,k+1,...n-1]` but does not include `n` itself! This is common to all data types in python and should always be remembered when indexing anything in Python!

When indexing in python you can leave the start and end values implicit. This will give the same effect as starting from the beginning of the list and ending at the end of the list. For example:

In [ ]:
example_list = [1,2,3,4,5]

# The below two lines will give the same
print(example_list[0:3])
print(example_list[:3])

# The below two lines will also give the same
print(example_list[2:5])
print(example_list[2:])

# This will print the whole list
print(example_list[:])

You can also indicate a step size when indexing by using the following syntax:

In [ ]:
# Print every second element between the 0th and 5th elements
print(example_list[0:5:2])
print(example_list[::2])

And you can run backwards through the list by using negative integers as the step size. For example:

In [ ]:
# Print the list backwards
print(example_list[::-1])

### Operations on Lists and Tuples

Other operations are also available for lists and tuples. Most notably, the `*` symbol can be used to replicate a list or tuple like so:

In [ ]:
example_list = [1,2,3,4]
print(example_list*2)

example_tuple = (1,2,3,4)
print(example_tuple*2)

Other notable operations for lists include:

 - `insert`: This function adds an element to the list at a specified position.
 - `pop`: This function removes the element in the list at the specified position.
 - `remove`: This function removes the item with the specified value from the list.
 - `reverse`: This function reverses the order of the list.
 - `sort`: This function sorts the list.
 
A few examples of these functions are given below. Try changing and editing the below code to check your understanding! Again, this is by no means a comprehensive list; more information can be found in the [Python API](https://docs.python.org/3/tutorial/datastructures.html) or in the [W3 schools documentation](https://www.w3schools.com/python/python_lists.asp).

In [ ]:
# Here is an example list
example_list = [1,2,3,4,5]
print(example_list)

# We will now insert the value 3 at index 2
example_list.insert(2,3)
print(example_list)

# We will now remove the item in the 4th position of the list
example_list.pop(4)
print(example_list)

# We will now remove an element with the value 3 from the list
example_list.remove(3)
print(example_list)

# We will now reverse the list
example_list.reverse()
print(example_list)

# We will now sort the list
example_list.sort()
print(example_list)

Not as many operations are available for tuples as tuples are immutable (not meant to change in value). Two available operations are:

 - `count`: This function returns the number of times a specified value occurs in the tuple.
 - `index`: This function searches the tuple for a specified value and returns the position of where it was found.
 
Examples of these are given below. For more information on tuples please visit the [Python API](https://docs.python.org/3/tutorial/datastructures.html) or the [W3 schools documentation](https://www.w3schools.com/python/python_tuples.asp).

In [ ]:
example_tuple = (1,2,3,3,4,5,6)

# Count how many times the value 3 occurs
print(example_tuple.count(3))

# Find the number 2 in the tuple and return it's index
# (Remember indexing starts at 0 in Python!)
print(example_tuple.index(2))

## Sets and Dictionarys

In this section, we are going to look in more detail at Sets and Dictionarys.

 - A set is a collection which is **unordered**, **changeable** and **unindexed**. In Python sets are written with **curly** brackets.
 - A dictionary is a collection which is **unordered**, **changeable** and **indexed**. In Python dictionarys are also written with **curly** brackets but also with keys and values.

Like tuples and lists, both sets and dictionarys are built-in python types and can hold elements of arbitrary data types. However, unlike tuples and lists they do not behave like vectors as they are unordered. In other languages, such as Java, you may have heard of dictionarys referred to as `hashmaps`.

Below are some examples of sets and dictionarys.

In [ ]:
example_set = {1,'str',3}
print(example_set)

example_dict = {'A':1, 'B':'str'}
print(example_dict)

# We can also create dictionaries using the dict function if using strings for keys
example_dict = dict(A=1, B='str')
print(example_dict)

### Adding elements to and retreiving elements from Dictionarys

Elements can be added to dictionarys as `key`s and `value`s. For example; in the first line below the `key` is `a` and the `value` is `b`. Note that a key does not have to be a string; integers and floats work just as well. Values can be of any data type.

In [ ]:
# Here we assign value 'b' to key 'a'
example_dict['a'] = 'b'

# Here we assign value 2 to key 10
example_dict[10] = 2

# Here we assign value [2,1] to key 1.1
example_dict[1.1] = [2,1]

print(example_dict)

We can then retreive `value`s from the dictionary using the `key`s we stored them under. This can be done with either square brackets or the built-in `get` function. For example:

In [ ]:
# Using square brackets
print(example_dict[10])
print(example_dict['a'])

# Using the `get` function
print(example_dict.get(10))
print(example_dict.get('a'))

### Removing elements from a dictionary

Elements can be removed from a dictionary using the `pop` and `del` methods. For example:

In [ ]:
# Example dictionary
example_dict = {'A':1, 'B':'str', 'C':2}
print(example_dict)

# Remove element 'A'
example_dict.pop('A')
print(example_dict)

# Remove element C
del example_dict['C']
print(example_dict)

### Operations on Dictionarys

Other operations are also available for dictionarys. Some of the most useful of these are;

 - `keys`: This function returns a list containing the dictionary's keys.
 - `values`: This function returns a list of all the values in the dictionary.
 - `items`: This function returns a list containing a tuple for each (key, value) pair.
 
Examples of these functions are given below. For full documentation and details on more functions see the [Python API](https://docs.python.org/3/tutorial/datastructures.html) and [W3 schools Python documentation](https://www.w3schools.com/python/python_dictionaries.asp).

In [ ]:
example_dict = {'A':1, 'B':'str', 'C':2}
print(example_dict.keys())
print(example_dict.values())
print(example_dict.items())

### Adding elements to a set

Elements can be added to a set using the `add` function. For example, see the below code. 

Note that a `set` is designed to mimic the idea of a `set` in mathematics and, therefore, `set`s do not allow for duplicate entries. An entry is either in or not in a set; it cannot be "in" a set twice.

Multiple elements can also be added to a set at once using the `update` method.

In [ ]:
example_set = {1,'str',3}
print(example_set)

# Add an element
example_set.add(8)
print(example_set)

# Add another element; note this element is already in the set and therefore the
# set is left unchanged
example_set.add(1)
print(example_set)

# Add two elements to the set
example_set.update([10,'blah'])
print(example_set)

However, there is no notion of indexing for Python `set`s as sets are **unordered**. This means that individual elements cannot be accessed in the same manor as in dictionarys, lists and tuples. We can check if an element is in a set, however, using the `in` keyword.

In [ ]:
print(1 in example_set)
print(2 in example_set)

### Removing elements from a set

Elements can be removed from a set using the `remove` function. Note: the `remove` function will errror if the requested value is not in the set.

In [ ]:
example_set.remove(1)
print(example_set)

### Operations on Sets

Other operations are also available for sets, many of which are designed to mimic mathematic functions. For example:

 - `difference`:	This function returns a set containing the difference between two or more sets.
 - `intersection`:	This function returns a set which is the intersection of two other sets.
 - `issubset`: This function returns `True` if the first set input contains the second set input and `False` otherwise.
 - `issuperset`: This function returns `True` if the first set input is contained within the second set input and `False` otherwise.
 - `union`: This function returns a set containing the union of input sets.
 
Examples of these are given below. For full documentation and details on more functions see the [Python API](https://docs.python.org/3/tutorial/datastructures.html) and [W3 schools Python documentation](https://www.w3schools.com/python/python_sets.asp).

In [ ]:
print('Sets')
set1 = {1,2,3,4}
set2 = {2,4,5,6}
print(set1)
print(set2)

# Difference
print('\nSet Differences')
print(set1.difference(set2))
print(set2.difference(set1))

# Intersection
print('\nIntersection')
print(set1.intersection(set2))

# Is subset or superset
print('\nSubset/Superset')
print(set1.issubset(set2))
print(set1.issuperset({1,2}))

# Union
print('\nUnion')
print(set1.union(set2))

## IMPORTANT: Copying and References

In Python, all data types can be described as either "immutable" or "mutable".

To understand the difference between "immutable" and "mutable" types, it may be useful to introduce the notion of a *reference*. You can think of a *reference* as an address which tells us where some data lives physically on a machine. When we talk about variables, we really are talking about *reference*'s (which we have named) that point us to some data in memory.

When you reassign the value of a variable in your code, there are actually two possible things that could be happening. The *reference* could be changed (i.e. the variable now represents a different place in memory), or the data itself could be changed (i.e. the variable is still "looking" at the same location in memory, but the data that is stored there has changed).

What is important to know here is that when you change the value of a variable which has an "immutable" data type you are changing a *reference* whereas when you are changing "mutable" variables you are changing the data itself. Examples of mutable data types in Python include the `list`, `dictionary` and the `set`. On the other hand, examples of immutable data types are given by the `int`, `float`, `decimal`, `bool` and the `tuple`. In general, the more complicated data types discussed so far are "mutable". 

The distinction between a data type being "mutable" or "immutable" may seem dull and/or trivial but, in practice, can result in some very unexpected behaviour, especially when multiple variables are using the same *reference* (i.e. "looking" at the same place in memory)!

For example, in the below code we may expect `a` and `b` to have different values:

In [ ]:
a = 7
b = a # a and b are now both looking in the same place in memory
a = 10 # Here we have changed the reference
print(a)
print(b) # Changing a has not changed b

And they do! However, if we change `a` from being `7` to a list containing `7`, perhaps surprisingly, changing the value of `a` also changes the value `b`!

In [ ]:
a = [7]
b = a # a and b are now both looking in the same place in memory
a[0] = 10 # Here we have changed the data itself!
print(a)
print(b) # Changing a has changed b

In both the examples above, we start by assigning `a` and `b` as references to the same location in memory. 

In the first example, when we assign `a=10`, we are telling Python that `a` must change where it is "looking" in the computers memory. This does not have any effect on the value of `b`.


In the second example, however, when we assign `a[0]=10`, we are telling Python that the data stored in the location which `a` is "looking" at at must be changed. As `b` is also "looking" at this location in memory, this does have an effect on the value of `b`. It has changed!

It is worth noting though that if an operation is performed then a copy might be made:

In [ ]:
a = [7]
b = a*2 # In this case b is a reference to a new object.
a[0] = 10
print(a)
print(b) # Changing a has not changed b

In this case, to ensure we are working with a copy of `a` and not just a reference to the same variable, we can use the `list` constructor (see below). 

 > **Note:** In this case `a` is a `list` so we use the `list` constructor. For other datatypes similar constructors exist and would be used in this situation (e.g. `set`, `dict`, etc...).

In [ ]:
a = [7]
b = list(a) # This time, a and b are not both looking in the same place in memory!
a[0] = 10
print(a)
print(b) # Changing a has not changed b

 > **Warning:** Errors of this type can often cause extremely anti-ituitive behaviour, including unexpected interactions between functions. 
 >
 > For example, in the below a function is called on a variable `b`, yet a seemingly unrelated variable `a` was affected by calling the function. This is because `a` and `b` were both references to the same object in memory, as oppose to being distinct copies of the object.  
 >
 > If you are not familiar with functions, do not worry; these will be covered in depth in notebook 3. However, it may be worth revisiting this example once you have worked through notebook 3.

In [ ]:
def function1(x):
    x.append(10)
    return(x)

# Create a variable a
a = [3]
print(a)

# Set b equal to a
b = a

# Run function1 on b; surely this couldn't affect a...
c = function1(b)

# In actual fact, as a and b are both names for the same object~
# in memory, changing b was the same as changing a (note that 
# the append operation in the function is where b was changed).
print(a)

## If statements

An `if` statement allows you to run a block of code if and only if a boolean expression is `True`. Take the example in the following block, for instance. In this example, "Positive" is printed if the variable `a` is greater than zero. 

If the variable `a` is not greater than zero, the code will then move onto the next statement; the `elif` (else if). This checks if `a` is less than zero and if `a` is less than zero `Negative` will be printed. This block of code is run **only if the first block of did not run and the `elif` statement is `True`**.

Finally, if neither of the previous statements were `True` the `else` statement is executed. In this case, `a` would have to be neither negative or positive and would therefore be zero. This block of code is run **only if all of the previous blocks of code did not run**.


 > **Warning**: Indentation is crucial for the `if` statement in python. You must indent blocks of code within if statements as this is how the blocks of code are delineated in python.

 > **Warning:** Make sure to remember the colon on the end of the `if`, `elif` and `else` statements! Without this Python, will throw an error. This error often causes many a headache for new Python users!

In [ ]:
# Generate a random uniform variable
# Don't worry if you don't understand the two below lines; all you need know
# is that a is a random real number between -1 and 1
import random
a = random.uniform(-1, 1)
print(a)

# If a is greater than zero print positive
if a>0:
  
  print('Positive')
  
# Else If a is less than zero print negative
elif a<0:
  
  print('Negative')

# Else print "zero"
else:
  print('Zero')

As with other languages there can be many `elif` statements or none at all. For example;

In [ ]:
a = random.uniform(-1, 1)
print(a)
  
# ------------------------------------------------------------------------------
# If a is greater than zero print positive
if a>0:
  
  print('Positive')
  
# ------------------------------------------------------------------------------
# If a is greater than 0.5 print Greater than 0.5  
if a>0.5:
  
  print('Greater than 0.5')
  
# Else If a is greater than zero print Between 0 and 0.5
elif a>0:
  
  print('Between 0 and 0.5')

# Else If a is greater than -0.5 print Between -0.5 and 0
elif a>-0.5:
  
  print('Between -0.5 and 0')

# Else print 'Between -1 and -0.5'
else:
  print('Between -1 and -0.5')

## For loops

A `for` loop iterates through a sequence (a `list`, a `set`, a `tuple`, etc), and evaluates a block code for each item in the sequence. For example;

In [ ]:
for x in ('a', 2, 'c', '4', 'e'):
  print(x)

To loop through a numerical range then use the range function:

In [ ]:
for x in range(-1, 5):
  print(x)

 > **Note:** The maximum value in a python `range` is one less than the value specified.  Also note, `range` actually returns an object that can be iterated over, not a list. A list of numbers can be obtained using `list(range(-1, 5))`.

Another useful feature of python which may be useful when writing for loops is that multiple variables can be assigned from a tuple or list:

In [ ]:
x, y = [10, 7.2]
print(x)
print(y)

And these can be combined with a function called `zip` which allows us to loop over dual variables:

In [ ]:
# List of strings
alist = ['A string', 'Another string', 'And...', 'Yup another string']

# List of integers
blist = [1,2,4,8]

# Join them together
print(list(zip(alist, blist)))

# Loop through them together
for x, y in zip(alist, blist):
    print(y, x)

 > **Note:** Indentation is very important for loops. Whilst in other languages such as `Matlab` there are keywords signifying when a loop ends (such as `end`); in Python the only way to tell which code is and is not inside a loop is through indentation. In short, make sure your indentation is present and consistent! Also, don't forget the colon after the `for` expression!

## While loops

A while loop repeatedly runs a block of code so long as a given Boolean statement is `True`. For example, in the below, the block of code is run while the statement `n<100` is `True`.

In [ ]:
# Set n = 0
n = 0

# Run this code while n is less than 100
while n<100:
  
  print(n)
  n = n**2 - 2*n + 3

 > **Note:** Unlike in other languages such as Java; in Python, there is no `do ... while` construct.

 > **Note:** As with the `for` loop, indentation is extremely important. Don't forget your indentation or the colon after the `while` expression!!

## continue, break and pass statements

Three statements which are often useful to know in Python when writing `for` loops or `while` loops are the `continue`, `break` and `pass` statements. 

When used in a loop, the `continue` statement returns the control to the beginning of the loop. In other words, it skips the rest of the code block for the current run of the loop and goes straight to the next run of the loop. For example see the below:

In [ ]:
for i in range(1,10):
  
  # If i is less than 2, skip the print statement
  if i < 3:
    continue
  
  print(i)

The `pass` statement effectively is a null operation; nothing happens when it executes. It is useful when you are writing code and need something as a placeholder for code that is yet to be written. For example;

In [ ]:
for i in range(1,10):
  
  # We may want to implement something for i < 3 but we have
  # not yet gotten around to it. We can include a pass
  # statement in this situation!
  if i < 3:
    pass
  
  print(i)

The `break` statement ends the loop prematurely. This can be useful when trying to catch bugs or when there are many conditions in which you may like to end a loop. For example;

In [ ]:
for i in range(1,10):
  
  # We may want to end the code if i==3, perhaps we
  # have noticed there is a bug when i==3 and want to 
  # investigate it further
  if i == 3:
    break
    
  print(i)

## Conditional Expressions

When assigning variables in python; a general in-line expression that can be used in python is: `A if condition else B`. An example is given below:

In [ ]:
# Generate a random number; don't worry if you do not understand how the below
# 2 lines works; we will cover module imports in a later section
import random
x = random.gauss(0, 1)

# Set y to be 1 if x is less than 0 or 0 otherwise; this is in fact a
# rather convoluted (and definitely not recommended!!) way of generating 
# a bernouilli random variable.
y = 1 if x<0 else 0

# Print results
print(x, y)

## List comprehensions

Some useful syntax for building a list using a `for` loop but all in one line is known as a List comprehension.  The syntax of a list comprehension is pretty similar to the `for` loop syntax and is extremely popular in Python. Try the below examples and see if you can understand how they work:

In [ ]:
# xrange contains the integers 0 to 6 inclusive
xrange = range(6)

# Add 2 to all elements of the xrange
newlist1 = [ x+2 for x in xrange ]
print(newlist1)

# Square all the elements of xrange apart from 4
# (4 will not be included in the final result)
newlist2 = [ x**2 for x in xrange if x!=4 ]
print(newlist2)

## Exceptions

Often when coding something could go wrong. Any statement in Python can potentially result in an error. 

If a line of code triggers an error during execution, we say that it "raises the error". When an error occurs, an Exception object is "raised" and the execution will stop on the line that caused the error:

In [ ]:
a = [1, 2, 3]
a.remove(4)

It is worth noting that not all `Exception`s are `error`s. Broadly speaking, an exception is anything that stops the code from completing execution. For example, when you type `CTRL+C` into a running Python program, a `KeyboardInterrupt` exception is raised. This is an example of an `Exception` that is not an `error`.

### Try, Except and Finally

Python gives us the capability to catch exceptions when they are raised, using the `try`, `except` and `finally` keywords. The process of catching an error and resolving it using a different block of code is referred to as `handling` the error. Simply put, these keywords do the following:

 - `try` lets you try to run a block of code.

 - `except` lets you run another block of code if the `try` block caused an `Exception`.

 - `finally` lets you execute a block of code, regardless of the result of the try- and except blocks.
 
For example, the above error may be resolved with a `try, except and finally` block like so:

In [ ]:
a = [1, 2, 3]

try:
  #print(variable1)
  a.remove(4)
except:
  print("4 was not in a")
finally:
  print("This will be printed regardless!")

We can actually tell the except block to only run given a certain type of error is raised. For example in our previous example we had a `ValueError`. This can be caught like so:

In [ ]:
a = [1, 2, 3]

try:
  #print(variable1)
  a.remove(4)
except(ValueError):
  print("4 was not in a")
finally:
  print("This will be printed regardless!")

In general it is a good idea to include the type of error you expect you might see, else you might be blind to other unrelated errors which are occuring in your code! 

For example, in the above two code blocks try uncommenting the `print` statement in the `try` block. We haven't named a variable `variable1` so this should cause an error; however only the second example will warn us of this, as in the second example we specified that we were only aware of `ValueError`s.

Another useful feature of the `except` statement is we can actually save the `exception` using the `as` keyword. This is useful as it can tell us which `exception` we may wish to account for. For example;

In [ ]:
a = [1, 2, 3]

try:
  a.remove(4)
except Exception as e:
  print(e)

### Raising exceptions

In Python you can also raise exceptions by using the `raise` keyword, and passing it an `Exception` object. For example, if you were writing some code which should only work on positive numbers you could use something like this for bug testing:

In [ ]:
# Generate a random number; don't worry if you do not understand how this
# line works; we will cover module imports in a later section
import random
x = random.gauss(0, 1)
print(x)

# If the random number is less than zero raise an exception
if x<0:
  raise Exception('Oh no! A negative number!')

You can use the `raise` keyword during an existing `Exception` from within an `except` block as well:

In [ ]:
try:
    print(0 / 0)

except Exception:
    print('This will be printed and then we will see the error.')
    raise

This is useful when an `Exception` has been raised but you want to do some further investigation before viewing the `Exception` message.

## Getting help

There is a lot to remember when first learning Python. To get more help see the [Python API](https://docs.python.org/3/library/). Another useful link is the [W3 schools series on Python](https://www.w3schools.com/python/) which is very good, especially for new users. Another way to get help if you are ever unsure what a function is doing is to use the`help` function in the Python terminal like so:

In [ ]:
help(print)

# Exercises

**Question 1:**  In the below code block there are 12 strings; the `startString`, ten arbitrary looking strings and the `endString`. The aim of this exercise is to obtain the `endString` using only:
   - `startString`
   - `string1,... string10`
   - the `replace` function
   
A solution to this problem exists in 5 steps. We have given you the first step to help get you started! 

*Hint: You may not need all 10 of the arbitrary looking strings.*

In [ ]:
# String to start from
startString = 'Thas as te arang we want!'
print('Start:  ', startString)

# You can use these strings
string1 = 'a'
string2 = 'st'
string3 = 'he a'
string4 = ' ge'
string5 = 'stri'
string6 = 'sts'
string7 = 'is'
string8 = 'ara'
string9 = 'gen'
string10 = 'e a'

# Step 1
step1 = startString.replace(string1,string2)
print('Step 1: ',step1)

# Step 2
step2 = step1.replace(string_ , string_) # Fill in the underscores
print('Step 2: ', step2)

# ... Repeat this process 3 more times

print('...')


# You should end up with this string
endString = 'This is the string we want!'
print('End:    ', endString)

Once you have an answer, check that your final string is the correct string using an appropriate boolean operator!

**Question 2:** Given the two strings in the code block below, use a `while` loop and the `split` function to make a new string which contains:
 - the 1st word from the 1st string
 - the 1st word from the 2nd string
 - the 2nd word from the 1st string
 - the 2nd word from the 2nd string
 - the 3rd word from the 1st string
 - ... and so on
 
Each word must be seperated from the last with a space.

In [ ]:
firstString = 'This seems have broken two strings. thats'
secondString = 'sentence to been into seperate Well, annoying.'

**Question 3:** Using a `for` loop, return the square of all of the elements in the list below which are greater than 2 or less than -2.5.

In [ ]:
examplelist = [1,-2.8,-2.1,-0.03,0.04,-1.9,1.0,20.8,1, -3,3.2]
outputlist=#...

Now do the same but using a list comprehension.

In [ ]:
outputlist=#...

**Question 4:** The below code generates some random numbers (don't worry about how this is done; we will meet a method for generating random numbers in `notebook 4: numpy`). 

Write some code which will `try` to divide `x` by `y` but will `except` any `ZeroDivisionError` and print out 'whoops divided by zero'.

In [ ]:
# Don't worry if you don't understand the below yet,
# all you need know is x and y are random integers
import random

x = random.randint(0,3)
y = random.randint(0,3)

print(x,y)

In practice we would never advise trying to catch a `ZeroDivisionError` in this way. Write some code which does exactly the same as your `try`, `except` statement but uses `if` statements instead. Why do you think this is a better way of doing this?

**Question 5:** In the below we have a list of 3 values, `x=1`, `y=2` and `z=3`. We want to work out the value of:

   > $x + y + z + x^2 + y^2 + z^2$ 
   > $= 1 + 2 + 3 + 1 + 4 + 9$
   > $= 20$
    
The below code should give us 20 as an answer... but it doesn't - something has gone wrong! Can you see what is wrong in the below code? How would you fix it?

*Hint: There may be something "Important" for you to read in this notebook that might help you a lot with this question.*

In [ ]:
xyz = [1,2,3]

# Make a list of x squared, y squared, z squared
xyzsquared = xyz
xyzsquared[0] = xyzsquared[0]**2
xyzsquared[1] = xyzsquared[1]**2
xyzsquared[2] = xyzsquared[2]**2

# Get x, y and z from xyz list
x = xyz[0]
y = xyz[1]
z = xyz[2]

# Get x squared, y squared and z squared from
# xyzsquared list
xsquared = xyzsquared[0]
ysquared = xyzsquared[1]
zsquared = xyzsquared[2]

print(x + y + z + xsquared + ysquared + zsquared)